<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.headfirstandroidapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".CheezMenu"/>
        <activity android:name=".ChapterEightWorkOutDetails" />
        <activity android:name=".ChapterEightWorkOutList" />
        <activity android:name=".ChapterEight" />
        <activity
            android:name=".CheezOrder"
            android:parentActivityName=".CheezMenu"
            />
        <activity
            android:name=".CheezMenu"
            android:parentActivityName=".ChapterSeven" />
        <activity android:name=".ChapterSeven" />
        <activity android:name=".ChapterNextIndex" />
        <activity android:name=".StarbuckFood" />
        <activity android:name=".StarBuckFoodCategory" />
        <activity android:name=".StarBuckDrink" />
        <activity android:name=".StarBuckDrinkCategory" />
        <activity android:name=".StarBuckMenu" />
        <activity android:name=".ChapterSix" />
        <activity android:name=".StopWatchAppAndAcitivityLifeCycle" />
        <activity android:name=".ActivityLifeCycle" />
        <activity android:name=".ChapterFour" />
        <activity android:name=".ExplicitIntent" />
        <activity android:name=".ChapterThree">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:name=".ChapterTwo" />
        <activity android:name=".ChapterIndex" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>